/*
 * Font faces, sizing and defaults
 */

// Typefaces
$arial: 'Arial', sans-serif;

// Font sizes
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-medium: 2.2rem;
$text-large: 3rem;
$text-xlarge: 4rem;

// Font weights
$weight-regular: normal;
$weight-bold: bold;

// Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-font-weight: $weight-regular;
$primary-font-size: $text-regular;
$primary-link-color: $black;
