/*
 * Lost grid config, spacing and limited width
 */

// Lost Grid Configuration
@lost gutter 3rem;
@lost flexbox flex;
@lost rounder 99.9999;

// Grid
$max-width: 1200px;
$max-width-narrow: 720px;

// Spacing
$horizontal-padding-small: 30px;
$horizontal-padding-medium: 60px;

// Containers
$limit-width: $max-width + ($horizontal-padding-medium * 2);
