/public/wordpress/*
!/public/wordpress/.gitkeep
/vendor/*
!/vendor/.gitkeep
/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep
/public/wp-content/mu-plugins/*
/public/wp-content/themes/assets/*
/public/wp-content/themes/twentysixteen/
/public/wp-content/themes/wp_starter_theme/
!/public/wp-content/themes/.gitkeep
!/public/wp-content/mu-plugins/init.php
!/public/wp-content/mu-plugins/acf_translator.php
!/public/wp-content/mu-plugins/git_version.php
/public/wp-content/uploads/*
!/public/wp-content/uploads/.gitkeep
/public/wp-content/debug.log
/public/wp-content/languages/
/public/hot
.env
mix.*.js
mix.js
mix-manifest.json
!.env.example
/coverage
.vagrant
/bower_components
/node_modules
/public/wp-content/themes/*/assets/build
.DS_Store
__MACOSX/
*.sql
*.zip
Vagrantfile
yarn-error.log
composer.lock
yarn.lock
