/*
 * Reset default form styling for browser consistency
 */
.s-content {
    p {
        margin: 0 0 1rem;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.5em;
    }

    h2,
    h3,
    h4 {
        font-weight: bold;
        line-height: 1.2;
        margin: 0 0 1rem;
    }

    img {
        display: block;
        height: auto;
        margin-bottom: 1rem;
    }

    a {
        color: $primary-font-color;
        text-decoration: underline;
    }
}
