/*
 * Apply a default from small and medium screens upwards
 */

.u-l-horizontal-padding {
    padding-left: $horizontal-padding-small;
    padding-right: $horizontal-padding-small;

    @include breakpoint($medium) {
        padding-left: $horizontal-padding-medium;
        padding-right: $horizontal-padding-medium;
    }
}
